/*
 *
 * Portfolio
 * Author: Michael P. Quitorio
 *
 */

@charset "UTF-8";

@font-face { 
  font-family: Barabara; 
  src: url("../font/Barabara.otf"); 
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");

* { margin: 0; padding: 0; border: 0; }

article, aside, figure, footer, header, nav, section, main {
  display: block; 
} 

html {
  /* Change the default font family in all browsers */
  font-family: "Poppins", sans-serif;
  /* Correct the line height in all browsers. */
  line-height: 1.15; 
}

body {
  background: url("../images/bg.png") no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 0.9em;
}

.header-content {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main-wrapper {
  display: flex;
  align-items: center; 
  justify-content: center;
  min-height: 100vh;
  z-index: 99999;
}

/* Correct the font size and margin of 'h1 & h2' elements in Chrome, Firefox, and Safari. */
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h1, h2 { margin: 0.67em 0; }

h1.fullname {
  font-family: Barabara;
  font-weight: 900;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
}

/* Add the correct font size in all browsers. */
small { font-size: 1em; }

small.job-title { 
  font-family: Barabara; 
  font-weight: 700; 
  letter-spacing: 1px; 
}

p.description {
  font-weight: 400;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  text-align: justify;
}

/* Capstone */

section.projects h2 {
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
  font-size: 1em;
  text-transform: uppercase;
}

.projects { position: relative; }
.projects img { width: 200px; }

.capstone-container { position: relative; }

.capstone-container:hover .overlay { width: 200px; }

.capstone-container .overlay {
  position: absolute;
  bottom: 0;
  left: 15px;
  right: 0;
  background-color: #fff;
  opacity: 0.8;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.text {
  color: #333;
  font-size: 1em;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

a { background-color: transparent; }

section a.contact-btn {
  display: inline-block;
  letter-spacing: 2px;
  color: #E91576;
  border: 1px solid #E91576;
  padding: .75rem 1.75rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 1rem;
}

a.contact-btn:hover { background:#E91576; color:#fff;  }

footer { margin-top: 50px; }

footer p { 
  font-size: 10px; 
  font-weight: 500; 
  margin-top: 10px;
}

footer p a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

footer p a:hover {
  color: #ccc;
  text-decoration: none;
}

section.social-media a {
  color: #efefef;
  margin: 0 .2em;
  font-size: 1rem;
  opacity: .75;
}

section.social-media a:hover { 
  opacity: 1; 
  color: #E91576; 
}

figure { margin: 1em 40px; }

figure.image-container { 
  position: relative; 
  text-align: center;
}

figure div.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

figure.image-container:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

figure.image-container img { 
  object-fit: cover; 
  width: 100%; 
}


/* Parallax */

.header-shape {
  position: absolute !important; 
}
.header-shape.shape-one {
  left: 0 !important; 
   top: 0 !important;
}
@media (max-width: 767px) {
  .header-shape.shape-one img {
    width: 40px; 
  } 
}
.header-shape.shape-two {
  left: 20% !important; 
   top: -18px !important;
}
@media (max-width: 767px) {
  .header-shape.shape-two img {
    width: 40px; 
  } 
}
.header-shape.shape-three {
  left: 40% !important; 
   top: 0 !important;
}
@media (max-width: 767px) {
  .header-shape.shape-three img {
    width: 100px; 
  } 
}
.header-shape.shape-four {
  right: 7.6% !important;
   left: auto !important; 
    top: 28px !important;
}
@media (max-width: 767px) {
  .header-shape.shape-four img {
    width: 40px; 
  } 
}
.header-shape.shape-five {
  bottom: 35% !important;
   right: 30px !important;
    left: auto !important;
     top: auto !important; 
}
@media (max-width: 767px) {
  .header-shape.shape-five {
    right: 20px !important;
    bottom: 48% !important; 
  } 
}
@media (max-width: 767px) {
  .header-shape.shape-five img {
    width: 40px; 
  } 
}
.header-shape.shape-six {
  left: 13% !important;
   top: 44% !important;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%); 
}
@media (max-width: 767px) {
  .header-shape.shape-six img {
    width: 40px; 
  } 
}
.header-shape.shape-seven {
  bottom: 50px !important;
    left: 30px !important;
     top: auto !important; 
}
@media (max-width: 767px) {
  .header-shape.shape-seven {
    left: 15px !important;
    bottom: 25px !important; 
  } 
}
@media (max-width: 767px) {
  .header-shape.shape-seven img {
    width: 100px; 
  } 
}
.header-shape.shape-eight {
  bottom: 140px !important;
    left: 90px !important;
     top: auto !important; 
}
@media (max-width: 767px) {
  .header-shape.shape-eight {
    bottom: 70px !important; 
      left: 50px !important;
  } 
}
@media (max-width: 767px) {
  .header-shape.shape-eight img {
    width: 100px; 
  } 
}
.header-shape.shape-nine {
  bottom: 28px !important;
    left: 50% !important;
     top: auto !important; 
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
       -o-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 767px) {
  .header-shape.shape-nine {
    bottom: 20px !important; 
      left: 65% !important;
    } 
}
@media (max-width: 767px) {
  .header-shape.shape-nine img {
    width: 100px; 
  } 
}
.header-shape.shape-ten {
  bottom: 5px !important;
   right: 30px !important;
    left: auto !important;
     top: auto !important; 
}
@media (max-width: 767px) {
  .header-shape.shape-ten {
    bottom: 140px !important; 
     right: 0px !important;
  } 
}
@media (max-width: 767px) {
  .header-shape.shape-ten img {
    width: 100px; 
  } 
}